.main-section { 
  text-align: center;
  margin: 0px;
  font-family: tahoma, arial, sans-serif;
  border-radius: 15px;
  border: solid 5px #666;
  padding: 22px;
  background-color: #F6F6F6;
  margin-bottom: 40px;
}

.resume { 
  margin: 5%;
  border: 10px solid #666;
  padding: 5%;
  background-color: white;
  -moz-border-radius: 5px;
  border-radius: 15px;
  -moz-box-shadow: 3px 3px 10px #000;
  -webkit-box-shadow: 3px 3px 10px #000;
  box-shadow: 3px 3px 10px #000;
}

body { 
  background-color: rgb(148, 148, 148);
}

li.profile-entry { 
  font-size: 120%;
  line-height: 26px;
}

h3 { 
  border-bottom: dotted 2px #888888;
  padding-bottom: 10px; 
}

h4 { 
  margin-top: 25px; 
}
