{% extends 'base.html' %}
{% block title %}Listing{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
  <div class="resume">
    <div class="main-section">
      <h1 class="text-center">{{ resume.name }}</h1>
      <h5 class="text-center">{{ resume.email }}</h5>
      <h5 class="text-center">{{ resume.url }}</h5>
    </div>
    {% if not format %}
      <div class="well">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>This resume isn't static. It is an application which I wrote.  
        <a href="https://github.com/ben174/bugben"><b>It is open source.</b></a> 
        Feel free to use it and expand on it.</p>
        <p>This is the fully-styled version of my home page. If you'd like you can 
        view it in other formats: </p>

        <center>
        <div class="btn-group" align="center">
          <a href="format/basic" class="btn">Traditional Resume</a>
          <a href="format/plain?columns=80" class="btn">Plain Text</a>
        </div>
      </center>
      </div>
    {% endif %}

    <h3>Profile Summary:</h3>
    {% include 'mainsite/summary_block.html' %}

    <h3>Links:</h3>
    {% include 'mainsite/links_block.html' %}

    <h3>Expertise:</h3>
    {% include 'mainsite/expertise_block.html' %}

    {% if not format %}
      <h3>Community Contributions:</h3>
      {% include 'mainsite/community_block.html' %}

      <h3>Experience:</h3>
      {% include 'mainsite/experience_block.html' %}
    {% else %}
      <h3>Experience:</h3>
      {% include 'mainsite/experience_block.html' %}

      <h3>Community Contributions:</h3>
      {% include 'mainsite/community_block.html' %}
    {% endif %}

  </div>
  
{% endblock %}
