{% extends 'base.html' %}
{% block title %}Listing{% endblock %}
{% block header %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/listing.js"></script>
{% endblock %}
{% block content %}
<div id="profile-box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="profile-label" aria-hidden="true">
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="profile-label"></h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="main-avatar span4">
        <img src="/static/img/default-avatar.png" width="178" class="avatar">
      </div>
      <div class="profile-body span7">
        <h5 id="profile-headline"></h5>
        <div class="smaller-avatars">
          <div id="profile-stats"></div>
          <img src="/static/img/default-avatar.png" width="50" class="avatar">
          <img src="/static/img/default-avatar.png" width="50" class="avatar">
          <img src="/static/img/default-avatar.png" width="50" class="avatar">
          <img src="/static/img/default-avatar.png" width="50" class="avatar">
          <img src="/static/img/default-avatar.png" width="50" class="avatar">
        </div>
      </div>
    </div>
    <div id="profile-summary"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Send Message</button>
  </div>
</div>
<h2>Members near [Somewheretown, USA]</h2>
<div id="postswrapper">
  <div id="posts"></div>
  <div id="loader">
    <img src="{{ STATIC_URL }}img/ajax-loader.gif" />
  </div>
</div>
{% endblock %}
