{% extends 'base.html' %}
{% load staticfiles %}
{% block posthead %}
    <link rel="stylesheet" href="{% static "css/resume.css" %}">
{% endblock %}

{% block content %}
    <section class="section section-banner">
        <h1>{{ object.name }}</h1>
        <h5>{{ object.email }}</h5>
        <h5>{{ object.url }}</h5>
    </section>

    <section id="section-info">
        <div>
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>This resume isn't static. It is an application which I wrote.
                <a href="https://github.com/ben174/bugben"><b>It is open source.</b></a>
                Feel free to use it and expand on it.</p>

            <p>This is the fully-styled version of my home page. If you'd like you can
                view it in other formats: </p>

            <div class="btn-group">
                <a href="format/basic" class="btn btn-primary">Traditional Resume</a>
                <a href="format/plain?columns=80" class="btn btn-primary">Plain Text</a>
            </div>
        </div>
    </section>
    <section id="section-profile">
        <h3>Profile Summary</h3>

        <div>
            <ul>
                {% for entry in object.profileentry_set.all %}
                    <li>{{ entry.entry }}</li>
                {% endfor %}
            </ul>
        </div>

    </section>
    <section id="section-links">
        <h3>Links</h3>

        <div>
            <ul>
                {% for link in object.importantlink_set.all %}
                    <li class="profile-entry">
                        <b>{{ link.description }}</b>
                        <a href="{{ link.url }}">{{ link.url }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section id="section-expertise">

        <h3>Expertise</h3>

        <div>
            {% for entry in object.expertiseentry_set.all %}
                <h5>{{ entry.entry }}</h5>

                <p>{{ entry.entry_details }}</p>
            {% endfor %}
        </div>
    </section>
    <section id="section-community">
        <h3>Community Contributions</h3>

        <div>
            {% for project in object.project_set.all %}

                {% if not format == 'basic' %}
                    <img class="pull-right work-logo" src="{% static project.logo_path %}">
                {% endif %}

                <h5><a href="{{ project.deployment_url }}">{{ project.name }}</a></h5>
                <p class="lead">{{ project.short_description }}</p>

                <div class="project-body">
                    {{ project.long_description|safe }}

                    <dl class="dl-horizontal">
                        <dt>Project Page</dt>
                        <dd>
                            <a href="{{ project.deployment_url }}">{{ project.deployment_url }}</a>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Source Code</dt>
                        <dd>
                            <a href="{{ project.src_url }}">{{ project.src_url }}</a>
                        </dd>
                    </dl>

                </div>
            {% endfor %}


        </div>
    </section>
    <section id="section-experience">
        <h3>Experience</h3>
    </section>


{% endblock %}
