* {
    font-family: 'Lato', sans-serif;
}

.h1, .h2, .h3, h1, h2, h3 {
    font-weight: 700;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h5 {
    font-size: 20px;
}

section {
    padding: 10px;
    border-top: solid 2px #CCC;
}

section:nth-of-type(2) {
    border-top: none;
}

body {
    margin-top: 10px;
}

section.section-banner {
    border: solid 1px #BBB;
    background-color: #EEE;
    border-radius: 30px;
}

/*
section:nth-of-type(1) {
    background-color: #FFF4E9;
}
section:nth-of-type(2) {
    background-color: #BBBECA;
}
section:nth-of-type(3) {
    background-color: #C2D4C8;
}
section:nth-of-type(4) {
    background-color: #C2D4C8;
}
section:nth-of-type(4) {
    background-color: #CFAF90;
}
*/

section>div {
    padding: 10px;
}
section p {
    margin-bottom: 20px;

}
h1 {
    margin-top: 10px;
}

.section-banner {
    text-align: center;
}

.work-logo {
    max-width: 5em;
    margin-left: 1em;
}
.project {
    border-bottom: solid 1px #EEE;
}
.project:last-of-type {
    border-bottom: none;
}

.project-lead {
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
}

li {
    line-height: 28px;
    margin-bottom: 6px;
}