{% extends "base.html" %}
{% load static %}
{% load resume_extras %}

{% block posthead %}
<style type="text/css">
body {
  background-image: url('{% static "img/squares.gif" %}');
}
main.container {
  background-color: #fafdf5;
  border: solid 4px #000;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.header {
  text-align: center;
  border: solid 1px #354633;
  background-color: #f3fbe6;
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px;
}
h1, h6 {
  font-weight: bold;
}

h4 {
  margin-bottom: 0.5em;
}

h6 {
  margin-bottom: 6px;
}

.alert {
  margin: 20px 0;
}

.project-lead {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
}

.details {
  font-size: 0.9em;
}

.entry-logo {
  width: 100px;
  margin-top: 10px;
}

h5 {
  margin-top: 10px 0;
}
</style>
{% endblock %}
{% block content %}



<main role="main" class="container">
  <div class="header">
    <h1>{{ resume.name }}</h1>
    <h4>{{ resume.email }}</h4>
    <h4>{{ resume.url }}</h4>
    <p class="lead">A full-stack software engineer in the Bay Area, California</p>
  </div>
  <div class="alert alert-light" role="alert">
    <p>
    This resume isn't static. It is an application which I wrote. It is open source. Feel free to use it and expand on it.
    This is the fully-styled version of my home page. If you'd like you can view it in other formats:
    </p>
  </div>
  <div class="resume-body">
    <h4>Profile Summary</h4>
    <ul>
    {% for entry in resume.profileentry_set.all %}
        <li>{{ entry.entry }}</li>
    {% endfor %}
    </ul>

    <hr />

    <h4>Links</h4>
    <ul>
    {% for link in resume.importantlink_set.all %}
      <li>{{ link.description }} - <a href="{{ link.url }}">{{ link.url }}</a></li>
    {% endfor %}
    </ul>

    <hr />

    <h4>Superpowers</h4>
    {% for entry in resume.expertiseentry_set.all %}
      <h6>{{ entry.entry }}</h6>
      <p>{{ entry.entry_details }}</p>
    {% endfor %}

    <hr />

    <h4>Community Contributions</h4>
    {% for project in resume.project_set.all %}
      <div class="row justify-content-between">
        <div class="col-10">
          <h5><a href="{{ project.deployment_url }}">{{ project.name }}</a></h5>
          <h6 class="project-lead">{{ project.short_description }}</h6>
        </div>
        <div class="col-2">
          <img style="float: right" class="img-fluid entry-logo" src="{% static project.logo_path %}">
        </div>
      </div>
    <div class="details">
      <p>{{ project.long_description|text_to_html }}</p>
    </div>
    {% endfor %}

    <hr />

    <h4>Experience</h4>
    {% for work in resume.workhistoryentry_set.all %}
      <div class="row justify-content-between">
        <div class="col-10">
          <h5>{{ work.client_name }}</h5>
          <h6>{{ work.title }}</h6>
          <p>
            {{ work.location }}<br />
            {{ work.timespan }}
          </p>
        </div>
        <div class="col-2">
          <img style="float: right" class="img-fluid entry-logo" src="{% static work.logo_path %}">
        </div>
      </div>
      <ul>
      {% for achievement in work.workachievement_set.all %}
        <li>{{ achievement.description|text_to_html }}</li>
      {% endfor %}
      </ul>
    {% endfor %}
    <hr />
  </div>
</main><!-- /.container -->
{% endblock %}
